@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  background:#652b4b;
}

#title {
  position:relative;
  top:100px;
  font-family:"Ubuntu",sans-serif;
  font-size:3em;
  text-align:center;
  color:#FFFFFF;
  opacity:.8;
}

#images {
  text-align:center;
  position:relative;
  top:50px;
}

#about {
  position:relative;
  top:53px;
  font-family:"Droid Sans", sans-serif;
  font-size:2em;
  text-align:center;
  color:#FFFFFF;
  opacity:.8;
}

.tumble {
  position:relative;
  left:20px;
}
.gitcat {
  position:relative;
  left:-30px;
}
.musicnote {
  position:relative;
  left:-20px;
}

a {
  text-decoration:none;
}