@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  background:#652b4b;
}

#title {
  position:relative;
  top:100px;
  font-family:"Ubuntu",sans-serif;
  font-size:3em;
  text-align:center;
  color:#FFFFFF;
  opacity:.5;
}